@media screen and (max-width:1024px) {

/* #header .row { position: relative; } */
#header .open,
#header .close {
    display: block;
    position: absolute;
    top: 50%; right: 30px;
}
#header .close { display: none; }
#header .open button,
#header .close button {
    font-size: 25px;
    color: #000;
    background: none;
    border: none;
}

#header #nav {  
    position:absolute; top:100%;  z-index:999999;
    transform:translateY(0%);
    background: #fff; width: 150px;
    right:0;
    font-size:18px; color:#1e1e1e;
    display: none;
}

#header .nav.on {
    display: block;
}

#header .nav .depth1 > li {
    float:none;
    position:relative;
}
#header #nav .depth1 > li > a {
    padding:20px 40px;
    display:inline-block;
}

#header .depth2 {
    position:static; top:100%; left:0; 
    background:#555; font-size:14px;
    color:#fff;
    width:100%;
    text-align:center;
    overflow:hidden;
    transition:all 0.5s;
    display:none;
}


} /* 마지막괄호 */